.navText{
    /* border: 2px solid black; */
    display: inline-block;
    margin-left: 20px;
    padding: 1px;
    padding-left: 5px;
    border-radius: 3px;
    /* border: 1px solid white; */
}
.navText{
    color: white;
}
.navText:hover{
    color: #CC0000;
}
.popup-content{
    width: 400px !important;
}
.form {
    text-align: center;
    margin: 20px;
}

